<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG Das Patinhas - Adoção de Cachorros</title>
    <meta name="description" content="Encontre seu novo amigo de quatro patas na ONG Das Patinhas. Veja os cães disponíveis para adoção com fotos, raça, idade e habilidades.">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/img/logo-factoring.png" type="image/x-icon">
    <script src="../static/js/index.js" defer></script>
</head>

<body>
    <header> 
        <a href="index.html">
            <img src="../static/img/logo.png" alt="ONG Das Patinhas" width="300" height="80">
        </a>
        <nav>
            <a th:href="@{/}">Início</a>
            <a th:href="@{/doacao}">Doação</a>
            <a th:href="@{/adocao}">Adoção</a>
            <a th:href="@{/quemsomos}">Quem Somos</a>
        </nav>
    </header>

    <main>
        <section id="adoção">
            <h1>Cães Disponíveis para Adoção</h1>
            <p class="paragrafo">Conheça nossos adoráveis cães que estão esperando por um lar amoroso. Cada um deles tem uma história única e habilidades especiais. Se você está procurando um novo amigo de quatro patas, dê uma olhada em nossas opções abaixo!</p>
            
            <div class="cachorros">
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro1.jpeg" alt="Cachorro 1">
                    <h2>Rex</h2>
                    <p><strong>Raça:</strong> Labrador</p>
                    <p><strong>Idade:</strong> 2 anos</p>
                    <p><strong>Habilidades:</strong> Amigável com crianças, ótimo para corridas</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>

                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro2.jpeg" alt="Cachorro 2">
                    <h2>Bella</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 1 ano</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>

                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro3.jpg" alt="Cachorro 3">
                    <h2>Max</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 3 anos</p>
                    <p><strong>Habilidades:</strong> Proteção, bom para exercícios físicos</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>

                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro4.jpeg" alt="Cachorro 4">
                    <h2>Luna</h2>
                    <p><strong>Raça:</strong> Beagle</p>
                    <p><strong>Idade:</strong> 4 anos</p>
                    <p><strong>Habilidades:</strong> Ótima com outros animais, excelente olfato</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro5.jpg" alt="Cachorro 2">
                    <h2>Thor</h2>
                    <p><strong>Raça:</strong> Labrador</p>
                    <p><strong>Idade:</strong> 6 anos</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro6.jpg" alt="Cachorro 2">
                    <h2>Freed</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 2 anos</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro7.jpg" alt="Cachorro 2">
                    <h2>Amadeu</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 2 anos</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro8.jpg" alt="Cachorro 2">
                    <h2>toto</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 4 meses</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro9.jpg" alt="Cachorro 2">
                    <h2>red</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 1 mês</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro10.jpg" alt="Cachorro 2">
                    <h2>pit</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 1 ano</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro11.jpg" alt="Cachorro 2">
                    <h2>donatelo</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 5 anos</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro12.jpg" alt="Cachorro 2">
                    <h2>vegeta</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 8 meses</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro13.jpg" alt="Cachorro 2">
                    <h2>kakaroto</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 8 meses</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro14.jpg" alt="Cachorro 2">
                    <h2>buma</h2>
                    <p><strong>Raça:</strong> Gato siames</p>
                    <p><strong>Idade:</strong> 8 meses</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro15.jpg" alt="Cachorro 2">
                    <h2>tony</h2>
                    <p><strong>Raça:</strong> Gato vira lata</p>
                    <p><strong>Idade:</strong> 1 ano</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro16.jpg" alt="Cachorro 2">
                    <h2>kali</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 1 ano</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
                <div class="cachorro">
                    <img src="../static/img/adocao/cachorro17.jpg" alt="Cachorro 2">
                    <h2>dolar</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 1 ano</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div><div class="cachorro">
                    <img src="../static/img/adocao/cachorro18.jpg" alt="Cachorro 2">
                    <h2>jorge</h2>
                    <p><strong>Raça:</strong> Vira lata</p>
                    <p><strong>Idade:</strong> 1 ano</p>
                    <p><strong>Habilidades:</strong> Inteligente, fácil de treinar</p>
                    <a class="botao" href="javascript:void(0);" onclick="enviarWhatsApp()">Quero Adotar</a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        
        <div>
            <img src="../static/img/logo.png" alt="ONG Das Patinhas">
            <p>Cuidando com amor, vivendo com alegria: ONG Das Patinhas, onde a vida dos pets é mais feliz!</p>
        </div>
        <div>
            <strong class="titulo">Links rápidos</strong>
            <a href="index.html">Início</a>
            <a href="quemSomos.html">Quem somos</a>
            <a href="doacao.html">Doação</a>
            <a href="adocao.html">Adoção</a>
        </div>
        <div>
            <strong class="titulo">Encontre-nos</strong>
            <p>WhatsApp: (97) 98417-3223</p>
            <p>Email: contato@daspatinhas.org.br</p>
            <p>Endereço: Av. 7 de Setembro, nº 42, Centro</p>
        </div>
    </footer>

</body>

</html>
