<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG Das Patinhas - Adoção de Cachorros</title>
    <meta name="description"
          content="Encontre seu novo amigo de quatro patas na ONG Das Patinhas. Veja os cães disponíveis para adoção com fotos, raça, idade e habilidades.">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{/img/logo-factoring.png}" type="image/x-icon">
    <script th:src="@{/js/index.js}" defer></script>
</head>

<body>
<header>
    <a href="index.html">
        <img th:src="@{/img/logo.png}" alt="ONG Das Patinhas" width="300" height="80">
    </a>
    <nav>
        <a th:href="@{/}">Início</a>
        <a th:href="@{/doacao}">Doação</a>
        <a th:href="@{/adocao}">Adoção</a>
        <a th:href="@{/quemsomos}">Quem Somos</a>
    </nav>
</header>

<main>
    <section id="adoção">
        <h1>Cães Disponíveis para Adoção</h1>
        <p class="paragrafo">Conheça nossos adoráveis cães que estão esperando por um lar amoroso. Cada um deles tem uma
            história única e habilidades especiais. Se você está procurando um novo amigo de quatro patas, dê uma olhada
            em nossas opções abaixo!</p>

        <div class="cachorros">
            <div class="cachorro" th:each="dog : ${dogs}">
                <img th:src="@{'/img/adocao/' + ${dog.image}}" th:alt="'Foto ' + ${dog.name}">
                <h2 th:text="${dog.name}"></h2>
                <div class="cachorro_info">
                    <p><strong>Raça:</strong> <span th:text="${dog.breed}"></span></p>
                    <p><strong>Idade:</strong> <span th:text="${dog.age}"></span></p>
                    <p><strong>Habilidades:</strong> <span th:text="${dog.skills}"></span></p>
                </div>
                <a class="botao" th:href="@{/formulario-adocao/{id}(id=${dog.id})}">Quero Adotar</a>
            </div>
        </div>
    </section>
</main>

<footer>

    <div>
        <img th:src="@{/img/logo.png}" alt="ONG Das Patinhas">
    </div>
    <div>
        <strong class="titulo">Encontre-nos</strong>
        <p>WhatsApp: (97) 98417-3223</p>
        <p>Email: contato@daspatinhas.org.br</p>
        <p>Endereço: Av. 7 de Setembro, nº 42, Centro</p>
    </div>
</footer>

</body>

</html>
