<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG Das Patinhas - Doações</title>
    <meta name="description" content="Contribua para a ONG Das Patinhas com doações via Pix ou transferência bancária. Ajude-nos a continuar nosso trabalho com animais abandonados.">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/doacao.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{/img/logo-factoring.png}" type="image/x-icon">
</head>

<body>
    <header> 
        <a th:href="@{/}">
           <img th:src="@{/img/logo.png}" alt="ONG Das Patinhas" width="300" height="80">
        </a>
        <nav>
            <a th:href="@{/}">Início</a>
            <a th:href="@{/doacao}">Doação</a>
            <a th:href="@{/adocao}">Adoção</a>
            <a th:href="@{/quemsomos}">Quem Somos</a>
        </nav>
    </header>

    <main>
        <section id="doacao">
            <div class="doacao-info">
                <h1>Contribua para a ONG Das Patinhas</h1>
                <p>Seu apoio financeiro é crucial para continuarmos nosso trabalho de resgate, cuidados e adoção de animais. Com a sua doação, podemos oferecer melhor atendimento veterinário, alimentos e abrigo para nossos animais.</p>

                <h2>Formulário de Doação</h2>
                <div class="formulario-doacao">
                    <form th:action="@{/doacao}" th:object="${donation}" id="doacaoForm" method="post">
                        <input type="text" th:field="*{name}" placeholder="Seu Nome" required/>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        <input type="email" th:field="*{email}" placeholder="Seu Email" required/>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        <input type="number" th:field="*{value}" step="1.00" placeholder="Valor da Doação" required/>
                        <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></span>
                        <button type="submit">Enviar Doação</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <img th:src="@{/img/logo.png}" alt="ONG Patinhas">
        <section class="contact-icons">
            <strong class="titulo">Encontre-nos</strong>
            <a href="#" aria-label="Telefone">
                <img th:src="@{/img/phone.png}" alt="Telefone" width="32" height="32">
            </a>

            <a href="#" aria-label="E-mail">
                <img th:src="@{/img/email.png}" alt="E-mail" width="32" height="32">
            </a>

            <a href="#" target="_blank" rel="noopener" aria-label="Mapa">
                <img th:src="@{/img/gps.png}" alt="Mapa" width="32" height="32">
            </a>
        </section>
    </footer>
    
</body>

</html>
