<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG Das Patinhas - Doações</title>
    <meta name="description" content="Contribua para a ONG Das Patinhas com doações via Pix ou transferência bancária. Ajude-nos a continuar nosso trabalho com animais abandonados.">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/form-adocao.css}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/img/logo-factoring.png" type="image/x-icon">
</head>

<body>

<header>
    <a href="index.html">
        <img src="../static/img/logo.png" alt="ONG Das Patinhas" width="300" height="80">
    </a>
    <nav>
        <a th:href="@{/}">Início</a>
        <a th:href="@{/doacao}">Doação</a>
        <a th:href="@{/adocao}">Adoção</a>
        <a th:href="@{/quemsomos}">Quem Somos</a>
    </nav>
</header>
<h1>Formulário de Adoção</h1>

<article class="selected_dog" th:if="${dog != null}">
    <div>
        <img th:src="@{'/img/adocao/' + ${dog.image}}" alt="Foto do cachorro">
    </div>
    <div>
        <p><b>Nome:</b> <span th:text="${dog.name}"></span></p>
        <p><b>Raça:</b> <span th:text="${dog.breed}"></span></p>
        <p><b>Idade:</b> <span th:text="${dog.age}"></span></p>
        <p><b>Habilidades:</b> <span th:text="${dog.skills}"></span></p>
    </div>
</article>

<form th:action="@{/formulario-adocao}" th:object="${adoptionInterest}" method="post">

    <label for="fullName">Nome Completo:</label>
    <input type="text" id="fullName" th:field="*{fullName}" required />
    <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>

    <label for="isAdult">Você é maior de idade?</label>
    <label class="switch">
        <input type="checkbox" id="isAdult" th:field="*{isAdult}" required/>
        <span class="slider"></span>
    </label>

    <span th:if="${#fields.hasErrors('isAdult')}" th:errors="*{isAdult}"></span>

    <label for="phone">Telefone:</label>
    <input type="text" id="phone" th:field="*{phone}" required />
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    <label for="hadPetsBefore">Já teve animais antes?</label>
    <label class="switch">
        <input type="checkbox" id="hadPetsBefore" th:field="*{hadPetsBefore}" />
        <span class="slider"></span>
    </label>

    <label for="currentlyHasPets">Possui outros animais atualmente?</label><label class="switch">
        <input type="checkbox" id="currentlyHasPets" th:field="*{currentlyHasPets}" />
        <span class="slider"></span>
    </label>

    <label for="adoptionReason">Por que deseja adotar?</label>
    <textarea id="adoptionReason" th:field="*{adoptionReason}" rows="4" required></textarea>
    <span th:if="${#fields.hasErrors('adoptionReason')}" th:errors="*{adoptionReason}"></span>

    <div class="g-recaptcha" data-sitekey="6LeXbaorAAAAACdjA5M2fXU4xsJMfGFHytsTOvLu"></div>
    <span th:if="${errorCaptcha}" th:text="${errorCaptcha}"></span>

    <input type="hidden" id="dog_id" name="dogId" th:value="${dog.id}" />

    <button type="submit">Enviar</button>
    <div th:if="${successMessage}" class="success-message">
        <p th:text="${successMessage}"></p>
    </div>
</form>
<footer>
    <div>
        <img src="../static/img/logo.png" alt="ONG Das Patinhas">
        <p>Cuidando com amor, vivendo com alegria: ONG Das Patinhas, onde a vida dos pets é mais feliz!</p>
    </div>
    <div>
        <strong class="titulo">Encontre-nos</strong>
        <p>WhatsApp: (97) 98417-3223</p>
        <p>Email: contato@daspatinhas.org.br</p>
        <p>Endereço: Av. 7 de Setembro, nº 42, Centro</p>
    </div>
</footer>
</body>
</html>
