<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ONG DAS PATINHAS</title>
    <meta name="description" content="Garanta uma vida longa e cheia de alegria para o seu melhor amigo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{/img/logo-factoring.png}" type="image/x-icon">

    <!-- JS -->
    <script th:src="@{/js/index.js}" defer></script>
</head>

<body>
    <header>
        <a th:href="@{/}">
            <img th:src="@{/img/logo.png}" alt="ong das patinhas" width="300" height="80">
        </a>
        <nav>
            <a th:href="@{/}">Início</a>
            <a th:href="@{/doacao}">Doação</a>
            <a th:href="@{/adocao}">Adoção</a>
            <a th:href="@{/quemsomos}">Quem Somos</a>
        </nav>
    </header>

    <main>
        <section id="inicio">
            <img th:src="@{/img/hero.png}" alt="Imagem principal" width="580" height="580">
            <div>
                <h1>ONG das Patinhas: Juntos, damos patinhas e corações para um futuro melhor!</h1>
                <p class="paragrafo">
                    A ONG das Patinhas é uma organização dedicada ao resgate e cuidado de cães e gatos abandonados.
                    Oferecemos abrigo, tratamento veterinário e buscamos lares amorosos para os animais que resgatamos.
                    <br><br>
                    Nossos Projetos incluem abrigo e cuidados veterinários, campanhas de adoção, educação e conscientização
                    sobre posse responsável e parcerias com outras organizações para expandir nosso impacto.
                    <br><br>
                    Você pode ajudar adotando um animal, doando ração ou itens, voluntariando-se para nossas atividades
                    e divulgando nossas campanhas.
                </p>
            </div>
        </section>

        <section id="clinica">
            <div>
                <h2>Ações da Ong Patinhas</h2>
                <p class="paragrafo">
                    A ONG Das Patinhas realiza várias ações essenciais para promover o bem-estar de cães e gatos em
                    situação de vulnerabilidade:
                </p>
                <ul>
                    <li>
                        <p><b>1. Resgate e Acolhimento:</b> Resgatamos animais abandonados e maltratados, oferecendo-lhes abrigo
                        seguro e carinho.</p>
                    </li>
                    <li>
                        <p><b>2. Cuidados Veterinários:</b> Proporcionamos atendimento médico completo, incluindo vacinação,
                        tratamentos e castração.</p>
                    </li>
                    <li>
                        <p><b>3. Reabilitação e Socialização:</b> Trabalhamos para reabilitar e socializar os animais,
                        preparando-os para adoção com programas de treinamento e suporte emocional.</p>
                    </li>
                    <li>
                        <p><b>4. Adoção Responsável:</b> Facilitamos adoções criteriosas para garantir que os animais encontrem
                        lares amorosos e adequados.</p>
                    </li>
                    <li>
                        <p><b>5. Educação e Conscientização:</b> Realizamos campanhas e workshops para promover a posse
                        responsável e a importância da castração.</p>
                    </li>
                    <li>
                        <p><b>6. Campanhas de Arrecadação e Parcerias:</b> Organizamos campanhas e parcerias para financiar
                        nossos projetos e expandir nosso impacto.</p>
                    </li>
                    <li>
                        <p><b>7. Voluntariado e Engajamento Comunitário:</b> Incentivamos a participação da comunidade através
                        do voluntariado e apoio em eventos e campanhas.</p>
                    </li>
                </ul>
                <p>
                    Nossa missão é criar um futuro melhor para os animais, com o apoio da comunidade e um trabalho dedicado
                    e apaixonado.
                </p>
            </div>
            <img th:src="@{/img/clinic-img.svg}" alt="" width="480" height="480" loading="lazy">
        </section>

        <section id="duvidas">
            <img th:src="@{/img/faq-img.svg}" alt="Ilustração de animais" width="540" height="540" loading="lazy">
            <div>
                <h2>Ficou alguma dúvida?</h2>

                <div class="duvida">
                    <h3>Quais serviços são oferecidos pela ONG Das Patinhas?</h3>
                    <img th:src="@{/img/arrow-down.svg}" alt="Ícone de seta para baixo">
                    <p class="paragrafo">
                        A ONG Das Patinhas oferece uma variedade de serviços voltados para o cuidado e bem-estar dos
                        animais, incluindo resgate, abrigo temporário, campanhas de adoção, vacinação e castração.
                        Nossa missão é garantir que todos os animais tenham a oportunidade de viver em um lar amoroso e
                        seguro.
                    </p>
                </div>

                <div class="duvida">
                    <h3>Como posso adotar um animal pela ONG Das Patinhas?</h3>
                    <img th:src="@{/img/arrow-down.svg}" alt="Ícone de seta para baixo">
                    <p class="paragrafo">
                        Para adotar um animal, você pode visitar nossos eventos de adoção ou entrar em contato
                        diretamente conosco por meio do nosso site. Nós avaliamos o perfil do adotante para garantir que
                        os animais encontrem um lar adequado e amoroso.
                    </p>
                </div>

                <div class="duvida">
                    <h3>A ONG Das Patinhas aceita doações?</h3>
                    <img th:src="@{/img/arrow-down.svg}" alt="Ícone de seta para baixo">
                    <p class="paragrafo">
                        Sim, aceitamos doações de alimentos, medicamentos, cobertores e itens de higiene para os
                        animais. Também é possível fazer doações financeiras para apoiar nossos projetos. Cada
                        contribuição faz uma grande diferença!
                    </p>
                </div>

                <div class="duvida">
                    <h3>Como posso me voluntariar?</h3>
                    <img th:src="@{/img/arrow-down.svg}" alt="Ícone de seta para baixo">
                    <p class="paragrafo">
                        Se você deseja fazer parte da nossa equipe de voluntários, pode se inscrever através do nosso
                        site ou comparecer a uma de nossas reuniões. Temos diversas formas de contribuição, como ajudar
                        nos cuidados diários dos animais, participar de eventos de adoção e colaborar em campanhas de
                        arrecadação.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <img th:src="@{/img/logo.png}" alt="ONG Patinhas">
        <section class="contact-icons">
            <strong class="titulo">Encontre-nos</strong>
            <a href="#" aria-label="Telefone">
                <img th:src="@{/img/phone.png}" alt="Telefone" width="32" height="32">
            </a>

            <a href="#" aria-label="E-mail">
                <img th:src="@{/img/email.png}" alt="E-mail" width="32" height="32">
            </a>

            <a href="#" target="_blank" rel="noopener" aria-label="Mapa">
                <img th:src="@{/img/gps.png}" alt="Mapa" width="32" height="32">
            </a>
        </section>
    </footer>
</body>
</html>
