<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG Das Patinhas - Adoção de Cachorros</title>
    <meta name="description" content="Encontre seu novo amigo de quatro patas na ONG Das Patinhas. Veja os cães disponíveis para adoção com fotos, raça, idade e habilidades.">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{/img/logo-factoring.png}" type="image/x-icon">
</head>

<body>
    <header> 
        <a href="index.html">
           <img th:src="@{/img/logo.png}" alt="ONG Das Patinhas" width="300" height="80">
        </a>
        <nav>
            <a th:href="@{/}">Início</a>
            <a th:href="@{/doacao}">Doação</a>
            <a th:href="@{/adocao}">Adoção</a>
            <a th:href="@{/quemsomos}">Quem Somos</a>
        </nav>
    </header>

    <main>
        <section id="institucional">
            <h1>Quem Somos</h1>
            <div class="institucional">
                <div class="missao">
                    <h2>Missão</h2>
                    <p>Nossa missão é promover o bem-estar e a qualidade de vida dos animais abandonados e em situação de vulnerabilidade. Trabalhamos para resgatar, cuidar e encontrar lares amorosos para cães e gatos, promovendo a conscientização sobre a importância da adoção responsável e dos cuidados adequados com os animais.</p>
                </div>

                <div class="visao">
                    <h2>Visão</h2>
                    <p>Acreditamos em um futuro onde todos os animais tenham um lar seguro e amoroso. Nossa visão é criar uma sociedade mais empática e responsável, onde a proteção e o respeito pelos animais sejam uma prioridade. Buscamos ser uma referência na defesa dos direitos dos animais e na promoção da adoção consciente.</p>
                </div>

                <div class="valores">
                    <h2>Valores</h2>
                    <ul>
                        <li><strong>Empatia:</strong> Colocamos o bem-estar dos animais em primeiro lugar e tratamos todos com respeito e carinho.</li>
                        <li><strong>Responsabilidade:</strong> Comprometemo-nos a agir com ética e transparência em todas as nossas ações e decisões.</li>
                        <li><strong>Dedicação:</strong> Trabalhamos incansavelmente para garantir que cada animal receba o cuidado e a atenção que merece.</li>
                        <li><strong>Educação:</strong> Promovemos a conscientização e a educação sobre cuidados com os animais e a importância da adoção responsável.</li>
                        <li><strong>Parceria:</strong> Acreditamos na força da colaboração com a comunidade, voluntários e parceiros para alcançar nossos objetivos.</li>
                    </ul>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <img th:src="@{/img/logo.png}" alt="ONG Patinhas">
        <section class="contact-icons">
            <strong class="titulo">Encontre-nos</strong>
            <a href="#" aria-label="Telefone">
                <img th:src="@{/img/phone.png}" alt="Telefone" width="32" height="32">
            </a>

            <a href="#" aria-label="E-mail">
                <img th:src="@{/img/email.png}" alt="E-mail" width="32" height="32">
            </a>

            <a href="#" target="_blank" rel="noopener" aria-label="Mapa">
                <img th:src="@{/img/gps.png}" alt="Mapa" width="32" height="32">
            </a>
        </section>
    </footer>
</body>

</html>
